@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ),
    url("https://upload.wikimedia.org/wikipedia/commons/3/3b/Books.by.women.photographers.jpeg")
      no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.1rem;
}

body {
  background-color: rgb(110, 112, 110);
  font-family: "Times New Roman", Times, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
